<% if logged_in? %>

  <p id="notice"><%= notice %></p>

  <h3 class="pull-right">Products For Sale</h3>
  <div class="row">
    <% if current_user.admin? %>
      <%= link_to 'Add New Product', new_product_path %>
    <% end %>
  </div>
  
  <div class="row">
    <div class="col-md-3">
		  <%= render 'static_pages/sidebar' %>
    </div>
    <div class="col-md-9">
		  <% @products.each do |product| %>
        <%= render "product_row", product: product, cart_item: @cart_item %>
      <% end %>
    </div>
  </div>

<% else %>
  <p id="notice"><%= notice %></p>

  <h3 class="pull-right">Products For Sale</h3>

  <div>
      <% @products.each do |product| %>
        <div class="well">

          <div class="row">
            <div class="col-xs-9">
              <h4><%= product.title %></small></h4>
            </div>
            <div class="col-xs-3">

                <h4>Unit Price: <span style="color: green"><%= number_to_currency product.price %></span></h4>
                <%= link_to "Add to Cart", login_path, class: "btn btn-default" %>
              
            </div>

          </div>
        </div>
      <% end %>
  </div>
  
<% end %>